<% layout('layout') -%>


<div class="row fullscreen align-items-center">
	<div class="col-xs-12">
		<div class="story-content">
			<h1>Captain <span class="sp-2">Cook</span></h1>
			<h6 class="text-uppercase" style="margin-bottom: 30px;">Un assistant pour trouver les recettes qui vous correspondent.</h6>

			<a href="" class="genric-btn primary circle arrow">Régalez vous! <span class="lnr lnr-arrow-right"></span></a>
		</div>
	</div>
</div>

