<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/head.ejs%>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>




<!-- Insert Body here -->
<div class="oz-body-wrap">

	<% include templates/header.ejs%>

    <div class="starter-template">
    	<section class="banner-area relative">
			<div class="container">
        		<%- body %>
        	</div>
        </section>
    </div>

</div><!-- /.container -->

<% include templates/footer.ejs%>

</body>
</html>