body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.lead{
	color: red;
}


.ingredients-table{
	width: 99%;
	margin-bottom: 30px;
}
.ingredients-table td, .ingredients-table th{
	text-align: center;
	padding: 15px 10px;
}

.ingredients-table th{
	font-size: 20px;
}

.ingredients-table tbody tr{
	border: 1px solid #6cbb23;
}

.ingredientPhoto{
	max-height: 120px;
}